*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-color: #ffc600;
  --add-btn-color: #9b59b6;
  --text-color: #ffffff;
}

body {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

main {
  width: 100%;
  height: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.app__wrapper {
  text-align: center;
  padding: 15px;
}

.user__request {
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 558px;
  outline: none;
  margin-bottom: 10px;
}

.add__btn,
.edit__btn {
  background-color: var(--add-btn-color);
  color: var(--text-color);
  border: 1px solid var(--add-btn-color);
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.app__wrapper ul {
  list-style: none;
  color: black;
  max-width: 750px;
  margin: 0 auto;
}

.task {
  font-size: 12px;
  padding: 12px;
  border-radius: 0;
  max-width: 100%;
  border: none;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  text-align: justify;
}

.task:focus {
  outline: none;
}

.app__wrapper ul li i {
  cursor: pointer;
  padding: 12px;
  border-left: 1px solid gray;
  color: rgb(255, 82, 82);
  box-sizing: border-box;
}

.date__box {
  max-width: 22%;
  margin: 0 10px;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
}

.input__bg {
  background-color: gray;
}

#dateInput {
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

#msg {
  color: red;
  font-size: 12px;
  max-width: 770px;
  text-align: start;
  margin: 0 auto;
}

#edit__icon {
  color: rgb(98, 98, 255);
}

.app__wrapper ul li {
  margin-top: 1px;
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  -webkit-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.4);
}

.app__wrapper ul li:first-child {
  border-top-left-radius: 5px;
}

.app__wrapper ul li:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#check {
  margin: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

form {
  position: relative;
}

input::-webkit-search-cancel-button:after {
  content: "X";
  position: absolute;
  tranform: translate(-50%, -50%);
}

input::-webkit-search-cancel-button:hover {
  cursor: pointer;
}

.input_lbls {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 750px;
}

.datelabel {
  margin-right: 120px;
}

p {
  width: 100%;
  text-align: start;
  padding: 8px;
}

.completed {
  text-decoration: line-through;
  background: #d3d1d1;
  opacity: 0.5;
}

.btn__visibility {
  display: none;
}

.visibility {
  display: inline-block;
}

.overdue__date {
  background-color: #eb5a46;
  color: #fff;
}

.leftfordue__date {
  background-color: #61bd4f;
  color: #fff;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.truncate:hover,
.truncate:focus {
  white-space: normal;
  overflow: visible;
}

.smtask,
.smdate {
  display: none;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.edit__btn img {
  object-fit: cover;
  margin: -2px;
}

span {
  margin-left: 4px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 35%;
  border-radius: 5px;
  text-align: center;
}

.close {
  color: #aaaaaa;
  margin: 0 0 0 auto;
  font-size: 15px;
  font-weight: bold;
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
  max-width: 8%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

.modal__para {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #999;
  font-size: 14px;
  text-align: center;
}

.modal__footer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}

.modal__footer .btn {
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  cursor: pointer;
}

.btn-secondary {
  background: #c1c1c1;
}

.btn-secondary:hover {
  background: #a8a8a8;
}

.btn-danger {
  background: #f15e5e;
}

.btn-danger:hover {
  background: #ee3535;
}

.modal__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal__img img {
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .wrapper {
    max-width: 600px;
  }

  .user__request {
    max-width: 100%;
  }

  .app__wrapper ul {
    max-width: 100%;
    margin-top: 15px;
  }

  #dateInput {
    width: 100%;
  }

  .task {
    font-size: 10px;
  }

  .date__box {
    font-size: 10px;
  }

  .input_lbls {
    display: none;
  }

  .smtask,
  .smdate {
    display: block;
    max-width: 100%;
    text-align: start;
  }

  .add__btn,
  .edit__btn {
    margin-top: 10px;
    padding: 10px 20px;
  }

  .modal-content {
    width: 55%;
  }

  .modal__footer {
    padding: 0;
  }

  .modal__footer .btn {
    min-width: 70px;
  }

  .close {
    max-width: 12%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .wrapper {
    max-width: 800px;
  }

  .user__request {
    width: 100%;
  }

  .app__wrapper ul {
    max-width: 100%;
  }

  .task {
    max-width: 58%;
    font-size: 14px;
  }

  .date__box {
    font-size: 14px;
  }

  .input_lbls {
    max-width: 475px;
  }

  .smtask,
  .smdate {
    display: block;
    max-width: 100%;
    text-align: start;
  }

  .input_lbls {
    display: none;
  }

  #dateInput {
    width: 100%;
  }

  .add__btn,
  .edit__btn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    display: inline-flex;
  }

  .modal-content {
    width: 60%;
  }

  .modal__footer {
    padding: 0;
  }

  .modal__footer .btn {
    min-width: 80px;
  }

  .close {
    max-width: 12%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-content {
    width: 60%;
  }

  .modal__footer {
    padding: 0;
  }

  .modal__footer .btn {
    min-width: 80px;
  }
}
